<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="4"      />
    <add key="MAX_INPUTTEXT_LENGTH"                value="100000" />

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="[resources]/url-detector-resources.xml"   />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="[resources]/sent-splitter-resources.xml" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="99999999" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>