<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="4" />

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="../[resources]/url-detector-resources.xml" />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="../[resources]/sent-splitter-resources.xml" />
  </appSettings>
</configuration>
